header{
    background-color:#6CC5CB;
    width: 100%;
    height: 10%;
    z-index: 8;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 2px #6CC5CB;   
}
.buy-cart-heading{
    margin: 1;
    color:white;
    font-size: 27px;
    position: relative;
    left: 60px;
    bottom: 70px;
}
.boy-cart-search{
    position: absolute;
    top: 40px;
    left: 80px;
    width: 60%;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
}
.buy-icon-search{
    position: relative;
    left:72%;
    bottom: 152px;
    color:#6CC5CB;
    font-size:25px
}

.buy-profile-photo{
    border-radius: 50%;
    position: relative;
    left:80%;
    bottom: 130px;
}

.buy-profile-select{
    width: 180px;
    border-radius: 8px;
    position: relative;
    left:72%;
    bottom: 150px;
}

main{
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 120px;
    left: 100px;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    padding: 20px;

}
.buy-cart-addres {
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    max-width: 500px;
    padding: 20px;
  }
  
  .buy-cart-addres img {
    display: block;
    border-radius: 50%;
  }
  
  .buy-cart-addres p {
    display:inline-block;
    font-size: 1.2rem;
    margin: 1rem 0;
   
  }

  section{
    position: relative;
    left: 100px;
    top: 100px;
    display: grid;
    grid-template-rows: 1fr;

  }

  .buy-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 16px;
  }
  
  .buy-content img {
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .hr-buy{
    color: #6CC5CB;
    position: relative;
    top: 30px;
    right: 140px;
    width:300px;
    border-bottom: 1px solid #6CC5CB;
  }
  
  .hr-buy-two{
    color: #6CC5CB;
    position: relative;
    bottom: 80px;
    right: 140px;
    width:300px;
    border-bottom: 1px solid #6CC5CB;
  }
 .buy-item{
    position: relative;
    left: 10px;
    top: 10;;
    color:black;
    font-size: 18px;

 }
 .buy-price{
    position: relative;
    right: 230px;
    top: 60px;
    color:#0062cc;
    font-size: 25px;
 }
  

  .buy-company{
    position: relative;
    right: 300px;
    top: 120px;
    color:black;
    font-size: 20px;

  }
  .buy-hr{
   color: #6CC5CB;
   border: 1px solid #6CC5CB;
   position: relative;
   right: 150px;


  }
  .buy-name{
   position: relative;
   right: 150px;
   top: 20px;
   font-size: 17px;
  }
.buy-email{
    position: relative;
    right: 380px;
    top: 80px;
}
.buy-hr-two{
    color: #6CC5CB;
    border: 1px solid #6CC5CB;
    position: relative;
    right: 250px;
 

}
  
  .buy-content button:hover {
    background-color: #0062cc;
  }
  
  .buy-content button:active {
    transform: translateY(2px);
  }
 .buy-button-minus{
  background-color: #6CC5CB;
  color: white;
  position: relative;
  top: 125px;
  right: 220px;
  width: 50px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }
 .buy-h5{
  background-color:white;
  color:#6CC5CB;
  position: relative;
  top: 75px;
  right: 190px;
  font-size: 29px;
  width: 50px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }

 .buy-button-plus{
  background-color: #6CC5CB;
  color: white;
  position: absolute;
  left: 63%;
  bottom: 160px;
  width: 50px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }

 .buy-button-remove{
  background-color: #6CC5CB;
  color: white;
  position: relative;
  right: 80px;
  top: 130px;
  width: 100px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }

 .buy-button-buy{
  background-color: #6CC5CB;
  color: white;
  position: relative;
  bottom: 68px;
  left: 30px;
  width: 120px;
  height:30px ;
  border-radius: 8px;
  border: none;


 }

 .buy-heading{
    position: relative;
    left: 10px;
    background-color: #6CC5CB;
    color: white;
    font-size: 28px;
    width: 80%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
 }

 .buy-summary{
    position: relative;
    left: 110px;
    top: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc ;
    width: 80%;
    height: 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
 
 }
 .buy-sum-heading{
    position: relative;
    top: 140px;
    background-color: #6CC5CB;
    color: white;
    margin: 10px;
    padding: 15px;
    font-size: 28px;
    width: 80%;
    left: 110px;
    border-radius: 8px;
 }

 .buy-button-sum{
    background-color: #6CC5CB;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: none;
    position: relative;
    left: 100px;
 }
 .buy-summary p{
    font-size: 18px;
    position: relative;
    left: 80px;
    border-bottom: 1px solid #6CC5CB;
    width: 80%;
 }

