.buy-cart-header{
    background-color:#6CC5CB;
    width: 100%;
    height: 10%;
    z-index: 8;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 2px #6CC5CB;   
}
.buy-cart-heading{
    margin: 1;
    color:white;
    font-size: 27px;
    position: relative;
    left: 60px;
    bottom: 70px;
}
.boy-cart-search{
    position: absolute;
    top: 40px;
    left: 80px;
    width: 60%;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
}
.buy-icon-search{
    position: relative;
    left:72%;
    bottom: 152px;
    color:#6CC5CB;
    font-size:25px
}

.buy-profile-photo{
    border-radius: 50%;
    position: relative;
    left:80%;
    bottom: 130px;
}

.buy-profile-select{
    width: 180px;
    border-radius: 8px;
    position: relative;
    left:72%;
    bottom: 150px;
}

main{
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 120px;
    left: 100px;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    padding: 20px;

}
.buy-cart-addres {
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    width: 500px;
    padding: 20px;
    position: relative;
    top: 90px;
  }
  
  .buy-cart-addres img {
    display: block;
    border-radius: 50%;
  }
  
  .buy-cart-addres p {
    display:inline-block;
    font-size: 1.2rem;
    margin: 1rem 0;
   
  }
  
  .buy-cart-content {
    display: inline-block;
    width: 500px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 16px;
  }
  
  .buy-cart-content img {
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .hr-buy-cart{
    color: #6CC5CB;
    position: relative;
    top: 30px;
    right: 140px;
    width:300px;
    border-bottom: 1px solid #6CC5CB;
  }
  
  .hr-buy-cart-two{
    color: #6CC5CB;
    position: relative;
    bottom: 80px;
    right: 140px;
    width:300px;
    border-bottom: 1px solid #6CC5CB;
  }
  .buy-cart-content p {
    font-size: 16px;
    margin: 8px 0;
    position: relative;
    top: 50px;
    left: 20px;
  }
  

  
  .buy-cart-content button:hover {
    background-color: #0062cc;
  }
  
  .buy-cart-content button:active {
    transform: translateY(2px);
  }
 .buy-cart-button-minus{
  background-color: #6CC5CB;
  color: white;
  position: relative;
  top: 60px;
  left: 20px;
  width: 50px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }
 .buy-cart-h5{
  background-color:white;
  color:#6CC5CB;
  position: relative;
  bottom: 9px;
  left: 90px;
  font-size: 25px;
  width: 50px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }

 .buy-cart-button-plus{
  background-color: #6CC5CB;
  color: white;
  position: relative;
  bottom: 82px;
  left: 120px;
  width: 50px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }

 .buy-cart-button-remove{
  background-color: #6CC5CB;
  color: white;
  position: relative;
  bottom: 68px;
  left: 20px;
  width: 80px;
  height:30px ;
  border-radius: 8px;
  border: none;
 }

 .buy-cart-button-buy{
  background-color: #6CC5CB;
  color: white;
  position: relative;
bottom: 68px;
  left: 30px;
  width: 80px;
  height:30px ;
  border-radius: 8px;
  border: none;


 }

 
 .buycart-suggestions {
  position: absolute; /* Position the suggestion list */
  left: 220px;
  top:50px;
  z-index: 1; /* Ensure the suggestion list is on top */
  background-color: #f9f9f9; /* Set the background color */
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  border-top: none; /* Remove the top border */
  border-right: none;
  width: 700px;

}

.buycart-suggestions li {
  border: 2px solid #ddd; /* Add a border */
  border-radius: 8px;
  width: 750px; /* Set the width to 100% */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Change the cursor to a pointer */
}

.buycart-suggestions li:hover {
  background-color: #6CC5CB; /* Add a hover effect */
}

/* Style the active item */
.buycart-suggestions li.active {
  background-color:#6CC5CB;
  color: white;
}
