.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns with equal width */
    gap: 10px; /* add some gap between the columns */
  }
 .deliveryBoy{
    border: none;
    border-radius: 9px;
    background-color: none;
 }
  .logo{
    border-radius: 60px;
    margin-left: 240px;
    margin-top: 20px;

  }
  .card{
    align-items: center;
    width:600px;
    height: 500px;
    position: relative;
    top:180px;
    left:120px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    box-sizing: border-box; 
  }
  .login-h1{
    color: #6CC5CB;
    font-size: 29px;
    font-family: sans-serif;
    font-weight: 1000;
    padding: 10;
    margin-left: 90px;

  }
  .ship-smarter{
    font-size: 18px;
    color: #6CC5CB;
    font-family:sans-serif;
   
    margin-top: -10px;
    margin-left: 140px;
  }
  form{
    margin-left:90px;
  }

  .email{
    width:300px;
    height: 30px;
    border: none; /* remove the default border */
    border-bottom: 2px solid #6CC5CB; /* add a bottom border */
    outline: none; /* remove the default focus outline */;
    border-radius: 8px;
    margin-bottom:20px;
    
  }
  .password{
    width:300px;
    height: 30px;
    border: none; /* remove the default border */
    border-bottom: 2px solid #6CC5CB; /* add a bottom border */
    outline: none; /* remove the default focus outline */;
     border-radius: 8px;
     margin-bottom:20px;
  }
  .login{
    background-color: #6CC5CB;
    outline: none;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 8px;
  }

  .new{
    font-size: 15px;
    color: #354041;
    font-family:sans-serif;
    padding: 10;
    margin-top: 20px;
    
  }
  .create{
    text-decoration: none;
    margin-left: 5px;
    color: #6466df;
    font-size: 19px;
  }
  .forgot{
    text-decoration: none;
    margin-left: 5px;
    color: #6466df;
    font-size: 19px;
  }
  .links{
    margin-left: 70px;
  }