.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns with equal width */
  gap: 10px; /* add some gap between the columns */
  justify-content:center;
  align-items:center;
}
.deliveryBoy{
  border: none;
  border-radius: 9px;
  background-color: none;
}
.logo{
  border-radius: 60px;
  margin-left: 240px;
  margin-top: 20px;

}
.card-seller{
  align-items: center;
  width:650px;
  height: 650px;
  position: relative;
  top:100px;
  left:60px;
  background-color:white; 
  border-radius: 10px; 
  box-shadow: 0 13px 15px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
  box-sizing: border-box; 
}
.register-h1{
  color: #6CC5CB;
  font-size: 29px;
  font-family: sans-serif;
  font-weight: 1000;
  padding: 10;
  margin-left: 90px;

}
.ship-smarter{
  font-size: 18px;
  color: #6CC5CB;
  font-family:sans-serif;
  padding: 10;
  margin-top: -10px;
  margin-left: 140px;
}
.register-form input{
margin-left: -100px;
}

.email{
  width:300px;
  height: 30px;
  border: none; /* remove the default border */
  border-bottom: 2px solid #6CC5CB; /* add a bottom border */
  outline: none; /* remove the default focus outline */;
  border-radius: 8px;
  margin-bottom:20px;
  
}
.password{
  width:300px;
  height: 30px;
  border: none; /* remove the default border */
  border-bottom: 2px solid #6CC5CB; /* add a bottom border */
  outline: none; /* remove the default focus outline */;
   border-radius: 8px;
   margin-bottom:20px;
}
.register{
  background-color: #6CC5CB;
  outline: none;
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  margin-top: 11px;


}

.box{
  width: 80px;
  height: 25px;
  margin-left: -10px;
  
}

.login-link{
  color: #4dbfc7;
  width:100px;
  font-size: 22px;
  height:20px;
  text-decoration: none;;
  border-radius: 8px;
  margin-left: 10px;
  margin-top:50px ;
  font-weight: 600;
}

.checkbox-label{
margin-left: -20px;
font-size: 15px;

}