*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.h12{
  margin-left:30%;
  margin-bottom: 2px;
  font-size: 14px;
  align-content: center;
}
hr{
  border-radius: 3px;
  border:solid black 1px
}
.container{
  background-color: #61dafb;
  width: 280px;
  height: 280px;
  margin-top: 10px;
  margin-left: 200px;
  border-radius: 10px;
  padding:10px 15px 17px 20px;


}
.h11{
  margin-left:15px;
  margin-bottom: 2px;
  font-size: 10px;
}
.input{
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  align-items: center;

}
.info{
  background-color: white;
  border-radius: 10px;
  width: 200px;
  height: 180px;
  margin-top: 10px;

}