*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color:white;
  align-content: center;
  justify-items: center;
}
.heading{
  background-color: rgb(119, 182, 219);
  padding-left: 250px;
  border-radius: 10px;
}
.input{
  width:78%;
  height: 25px;
  margin-left: 80px;
  margin-top: 5px;
  border-radius: 10px;
  border:solid 1px gray;
}
.submit{
  background-color:skyblue;
  width: 60px;
  height: 25px;
  border-radius: 8px;
  border: none;
}
.delete{
    background-color:skyblue;
    position: absolute;
    width: 60px;
    height: 25px;
    border-radius: 8px;
    border: none;
    margin-left: 400px;
    margin-top:0px;
  
}
.items{
  background-color:white;
}
ul{
  border-radius: 10px;
  list-style: none;
}
ul li{
  background-color: rgb(119, 182, 219);
  width: 550px;
  height: 45px;
  margin-top: 10px;
  padding-left: 28px;
  padding-top: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 100px;
  position: relative;


}