*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    width: 230px;
    height: 120px;
    margin-top: 150px;
    border-radius: 10px;
}
.buttons{
    align-content: space-between;
    
    
}
#start{
    background-color:blueviolet;
    outline: none;
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 2px;
    margin-right: 20px;
    padding: 2px;
}
#stop{
    background-color:blueviolet;
    outline: none;
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 2px;
    margin-right: 20px;
    padding: 2px;
}
.show{
    font-size: 20px;
    background-color: white;
    width: 120px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}