*{
    margin:0;
    padding: 0;
  
}

.container{
    width: 220px;
    height: 300px;
    padding: 1px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px thistle;

}
.icon-login{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    
}
.icon-main{
    width: 40px;
    border-radius: 10px;
    margin-top: 10px;
    
}
.heading{
font-size: 8px;
color: rgb(140, 196, 228);
margin-top: -40px;
padding: 5px;
margin-left: 80px;
width: 100px;

}

.form-group{
    background-color: white;
    
}

.input-number{
    background-color: white;
    border:solid 1px rgb(83, 75, 75);
    border-radius: 10px;
    width: 150px;
    height: 18px;
    outline: none;
    font-size: 8px;
}

.check-box{
    border-radius: 2px;
    margin-right: 130px;
    margin-top: 8px;
}
.agree{
    font-size: 6px;
    margin-bottom: 20px;
    margin-top: -15px;
    margin-left: -30px;
}

.send-otp{
    background-color: rgb(113, 113, 216);
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 20px;

}
.sign{
    font-size: 15px;
    color: black;
    width: 140px;
}

.welcome{
    font-size: 6px;

}

.verify{
    margin-top: 10px;
    background-color: rgb(113, 113, 216);
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 10px;
    outline: none;
    border:none;
}
.resend-text{
    font-size: 9px;
    margin-right: 60px;
    margin-top: 10px;
    padding: 10px;
    position: relative;


}

.resend{
    background-color: rgb(113, 113, 216);
    width: 50px;
    height: 20px;
    color: white;
    border-radius: 10px;
    outline: none;
    border:none;
    font-size: 10px;
   margin-top: -25px;
   margin-left: 10px;
   margin-bottom: 60px;
   position: absolute;
}

.phone-display{
    color: white;
    background-color: cornflowerblue;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: unset;
    padding: 10px;
    height: 30px;


}

.display{
    border-radius: 10px;
    margin-top: 10px;
    width: 190px;
    height: 180px;
    border: solid 1px thistle;
    outline: none;
    font-family: sans-serif;
    font-size: 10px;
}
.container-phone{
    width: 200px;
    height: 300px;
    border: solid 1px thistle;
    border-radius: 10px;
    margin-top: 20px;
}


.copy{
    background-color: rgb(113, 113, 216);
    width: 50px;
    height: 20px;
    color: white;
    border-radius: 10px;
    outline: none;
    border:none;
    font-size: 10px;
  
}
.copied-text{
    font-size: 5px;
}